<% content_for :title, "Editing movie" %>

<h1>Editing movie</h1>

<div class="form-box">
  <%= render "form", movie: @movie %>
</div>

<br>

<div class="button-group">
  <%= button_to "Show this movie", @movie, method: :get, class: 'action-button' %>
  <%= button_to "Back to movies", movies_path, method: :get, class: 'action-button' %>
</div>
