<% content_for :title, "New movie" %>

<h1>New movie</h1>

<div class="form-container">
  <%= render "form", movie: @movie %>
</div>

<br>

<div class="back-button-container">
  <%= link_to "Back to movies", movies_path, class: 'back-button' %>
</div>
